@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;1,400&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
a,
span,
ul,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
